
.supercms-millercolumns{
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
}
.supercms-millercolumns .column {
    border: 1px solid black;
    flex-shrink: 0;
}
.supercms-millercolumns ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.supercms-millercolumns ul li{
    list-style: none;
    margin: 0;
    padding: 10px;
}
.supercms-millercolumns ul li:hover{
    background: #eee;
}
.supercms-millercolumns ul li.active{
    font-weight: bold;
    background: #ccc;
}
.supercms-millercolumns ul li.active:hover{
    background: #eee;
}

body {
  margin: auto;
    width: 1000px;
}
